@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color:ivory;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    user-select: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: 2rem;
}
.navbar h1{
    color:crimson;
}
.navbar .navList{
    display: flex;
    gap:2rem;
    align-items: center;
}
.navList a{
    text-decoration: none;
    color:black;
    font-weight: 500;
}
.navbar .active{
    border-radius: 5px;
    color:white;
    background-color: crimson;
    padding:4px;
}
.homeContainer{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
}
.blog-frame{
    margin-top: 2rem;
}
.blog-frame h2{
    color:crimson;
}
.blog-frame small{
    color:dimgrey;
    font-weight: 300;
    font-size: small;
}
/*.blog-content {
    margin-top: 2rem;
    padding: 0 2.5rem 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

.blog-content button{
    width: 75px;
    height: 35px;
    background-color: crimson;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.blog-content:hover{
    box-shadow:0px 1px 1px 1px rgb(199, 195, 195);
}
*/
.blog-frame:hover{
    box-shadow:0px 1px 1px 1px rgb(199, 195, 195);
    transition: all 0.2s linear;
}
.searchBar{
    display: flex;
    gap: 5px;
}
.searchBar input,button{
    border: none;
    padding-left: 5px;
    outline: none;
}
.searchBar input{
    border: 2px solid black;
    width: 200px;
    border-radius: 5px;
}
.searchBar input:hover{
    outline: none;
}
.searchBar button{
    background-color: crimson;
    color:#fff;
    border-radius: 5px;
}
.error,.loading{
    text-align: center;
    padding: 10rem;
    color:darkgrey;
}