@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    user-select: none;
    position: relative;
}
.Container.blur{
    filter: blur(4px);
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: 2rem;
}
.navbar h1{
    color:crimson;
}
.navbar .navList{
    display: flex;
    gap:2rem;
    align-items: center;
}
.navList a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}
.navbar .active{
    border-radius: 5px;
    color:white;
    background-color: crimson;
    padding:4px;
}
.create-container {
    background: #fff;
    width: 340px;
    height: 560px;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
    visibility: hidden;
    overflow: hidden;
    padding: 2rem;
}
.create-container .create-HeaderContainer{
    display: flex;
    justify-content: space-between;
}
.create-HeaderContainer button{
    font-size: 25px;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    cursor: pointer;
}
.create-body {
    display: flex;
    flex-direction: column;
}
.create-body label {
    padding: .5rem 0;
    font-weight: 600;
}
.create-body input,textarea {
    border: 2px solid black;
    border-radius: 5px;
    padding: .5rem;
}
.create-body textarea {
    resize: none;
}
.create-body ::-webkit-scrollbar {
    width: 7px;
}
.create-body ::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 6px; 
}
.create-body button{
    margin: 1.5rem 0;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: crimson;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid crimson;
}
.create-container.active {
    visibility: visible;
}
.homeContainer{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}
.blog-list{
    margin-top: 3rem;
}
.blog-frame{
    margin-top: 1rem;
    border-radius: 15px;
    padding: 1rem;
}
.blog-frame h2{
    color:crimson;
}
.blog-frame a{
    text-decoration: none;
}
.blog-frame small{
    color:dimgrey;
    font-weight: 500;
    font-size: small;
}
/*.blog-content {
    margin-top: 2rem;
    padding: 0 2.5rem 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

.blog-content button{
    width: 75px;
    height: 35px;
    background-color: crimson;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.blog-content:hover{
    box-shadow:0px 1px 1px 1px rgb(199, 195, 195);
}
*/
.blog-frame:hover{
    box-shadow:0px 1px 1px 1px rgb(199, 195, 195);
    transition: all 0.2s linear;
}
.searchBar{
    display: flex;
    gap: 5px;
}
.searchBar input,button{
    border: none;
    padding-left: 5px;
    outline: none;
}
.searchBar input{
    border: 2px solid black;
    width: 200px;
    border-radius: 5px;
}
.searchBar input:hover{
    outline: none;
}
.searchBar button{
    background-color: crimson;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.error,.loading{
    text-align: center;
    padding: 10rem;
    color:darkgrey;
}
.blog-details{
    width: 90%;
    margin: auto;
    padding: 5rem 0 0;

}
.blog-preview h2{
    color: crimson;
}
.blog-preview p{
    color:dimgray;
    margin-bottom: 2rem;
}
.blog-preview .blog-content{
    line-height: 30px;
}